@import url("https://fonts.google.com/specimen/Ubuntu?query=ubuntu#standard-styles");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b88f0;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  color: #fff;
  margin: 10px 0 20px;
}

.container {
  width: 500px;
}

#textarea-choice {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  font-size: 20px;
  padding: 10px;
  margin: 0 0 20px;
}

.tag {
  background-color: #90ee90;
  color: #000;
  font-size: 20px;
  border-radius: 50px;
  padding: 6px 15px;
  margin: 0 7px 15px 0;
  display: inline-block;
  cursor: pointer;
}

.tag.highlight {
  color: #fff;
  background-color: #778899;
}
